{{> welcome-menu}}

<br>
<br>
<div class="ui centered container">
        <h2 class="ui centered header">
          [EXPLORE.WANDER.DISCOVER]
        </h2>
</div>

<!--<div class="ui vertical segment">
    <img src="images/reveal.jpg" class="ui centered circular big image">
</div>-->

<br>
<br>
<div class="ui inverted vertical center aligned segment">
  <p><span class="ui centered big text">Enter into [WOODLANDS] <br><br>
  [EXPLORE] the woods of the 4 provinces of Ireland <br><br>
  [WANDER] through the beautiful woodlands <br><br>
  [DISCOVER] all that is there in each wood <br><br>
  </span></p>
</div>



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <form class="ui black form" action="/authenticate" method="POST">
        <div class="field">
          <label>Email</label> <input placeholder="Email" name="email">
        </div>
        <div class="field">
          <label>Password</label> <input placeholder="Password" name="password" type="password">
        </div>

        <button class="ui blue submit button">Login</button>
      </form>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <a class="signup icon" href="signup"> Sign Up</a>

      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at woodlands.com for more information<br> or <br>Contact woodlands@gmail.com</h4>

<!--<div class="ui vertical segment">
  <img class="ui circular centered medium image" src="/images/woodlogo.jpg">
</div>-->