<form class="ui grey inverted stacked segment form" action="/dashboard/addpoi" method="POST">
  <div class="field">
    <label class="label">Woodlands Title</label> <input class="input" type="text" placeholder="Enter woodland title" name="title">
  </div>
  <button class="button is-link">Add Woodland</button>
</form>
