<nav class="ui inverted menu">
            <header class="ui inverted large header item"> [WOODLANDS]</header>
            <div class="borderless header item">
              [EXPLORE.WANDER.DISCOVER]
            </div>
            <div class="right menu">
              <div class="ui inverted simple dropdown item">
                <i class="user icon"></i>
                <div class="menu">
                  <div class="item"> <a href="/logout" style="color:white">Logout </a></div>
                </div>
              </div>

            </div>

          </nav>

          <script>
            $("#${_id}").addClass("active item");
          </script>

  </div>
</nav>
